In [1]:
import pandas as pd

In [5]:
pd.Series()

/Users/ram/homebrew/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [6]:
import numpy as np

In [7]:
arr = np.array([1,2,3,4,5])
s = pd.Series(arr)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
arr = np.array([1,2,3,4,5])
s = pd.Series(arr, index=['A','B','C','D','E'])
print(s)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [9]:
arr = np.array([1,2,3,4,5])
s = pd.Series(arr, index=['A','B','C','D','E'], name = 'x')
print(s)

A    1
B    2
C    3
D    4
E    5
Name: x, dtype: int64

In [11]:
x = {'a':1, 'b':2, 'c':3}
s = pd.Series(x)
print(s)

a    1
b    2
c    3
dtype: int64

In [14]:
x = {'a':1, 'b':2, 'c':3}
s = pd.Series(x, index=['A'])
print(s)

A   NaN
dtype: float64

In [16]:
x = {'a':1, 'b':2, 'c':3}
s = pd.Series(x, index=['a', 'A'])
print(s)

a    1.0
A    NaN
dtype: float64

In [13]:
s = pd.Series(5, index=[1,2,3,4,5])
print(s)

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [17]:
arr = np.array([1,2,3,4,5])
s = pd.Series(arr, index=['A','B','C','D','E'])
print(s)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [18]:
print(s[0])

1

In [19]:
print(s['A'])

1

In [20]:
print(s[3:])

D    4
E    5
dtype: int64

In [21]:
print(s[-3:])

C    3
D    4
E    5
dtype: int64

In [22]:
print(s[['A','B','C']])

A    1
B    2
C    3
dtype: int64

In [23]:
print(s[3:])

D    4
E    5
dtype: int64

In [24]:
print(s[['D','E']])

D    4
E    5
dtype: int64

In [26]:
print(s['F'])

KeyError: 'F'

In [ ]:
## DataFrames

In [30]:
df = pd.DataFrame()

In [31]:
type(df)

pandas.core.frame.DataFrame

In [32]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [33]:
df = pd.DataFrame([1,2,3,4,5])

In [34]:
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [46]:
df = pd.DataFrame(data=([1,2,3,4,5],[6,7,8,9,10]), index=['A','B'], columns=['c1','c2','c3','c4','c5'])

In [47]:
df

   c1  c2  c3  c4  c5
A   1   2   3   4   5
B   6   7   8   9  10

In [48]:
data = [['Bhavya',10],['Manasa',12],['Nandhini',13],['Keerthi',14]]
df = pd.DataFrame(data,columns=['Name','level'])
print(df)

       Name  level
0    Bhavya     10
1    Manasa     12
2  Nandhini     13
3   Keerthi     14

In [51]:
data = [['Bhavya',10],['Manasa',12],['Nandhini',13],['Keerthi',14]]
df = pd.DataFrame(data,columns=['Name','level'], dtype='float')
print(df)

       Name  level
0    Bhavya   10.0
1    Manasa   12.0
2  Nandhini   13.0
3   Keerthi   14.0

In [53]:
data = {'Name': ['Bhavya','Manasa','Nandhini','Keerthi'], 'level':[10,12,13,14]}
df = pd.DataFrame(data)
print(df)

       Name  level
0    Bhavya     10
1    Manasa     12
2  Nandhini     13
3   Keerthi     14

In [54]:
data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
  'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(data)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [55]:
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [56]:
df['one']['c']

3.0

In [57]:
df['one'][2]

3.0

In [58]:
data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
  'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(data)
df['three'] = [10,12,13,14]
print(df)

   one  two  three
a  1.0    1     10
b  2.0    2     12
c  3.0    3     13
d  NaN    4     14

In [59]:
del df['three']

In [61]:
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [62]:
df.pop('one')

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [63]:
print(df)

   two
a    1
b    2
c    3
d    4

In [67]:
data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
  'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(data)
df['three'] = [10,12,13,14]
print(df)

   one  two  three
a  1.0    1     10
b  2.0    2     12
c  3.0    3     13
d  NaN    4     14

In [68]:
df.iloc[1]

one       2.0
two       2.0
three    12.0
Name: b, dtype: float64

In [69]:
df.loc['a']

one       1.0
two       1.0
three    10.0
Name: a, dtype: float64

In [70]:
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [72]:
df.loc['a']

one       1.0
two       1.0
three    10.0
Name: a, dtype: float64

In [74]:
df.iloc[0]

one       1.0
two       1.0
three    10.0
Name: a, dtype: float64

In [75]:
df

   one  two  three
a  1.0    1     10
b  2.0    2     12
c  3.0    3     13
d  NaN    4     14

In [88]:
df2 = pd.DataFrame([[5,6,7]],columns=['one','two','three'])

In [ ]:
df.append(df2, ignore_index='')