### Create a dataframe using random numbers, index and columns

select the values of a particular column  
Select the values of multiple columns   
Check the type of columns   
Create a new column (sum of two columns)   
Remove the column using axis -- drop   
remove the row using axis -- drop   
inplace parameter   
shape of dataframe   
Select the values of a row -- loc and iloc   
Select a particular value from the dataframe -- [row, column]   
select the values of particular rows from the specific columns

Conditional selection -- boolean values and real values  
conditional selection on dataframe  
conditional selection on particular column   
select values of a particular column after conditional selection   
Select the data based on two conditions   
pandas operators (&, | )   
reset_index()  
set_index()

In [3]:
import numpy as np
import pandas as pd

In [4]:
from numpy.random import randn

In [7]:
randn(1)

array([1.05063801])

In [8]:
df = pd.DataFrame(data = randn(5,4), index = ['A','B','C','D','E'], columns=['W','X','Y','Z'])

In [9]:
print(df)

          W         X         Y         Z
A -1.560803  0.230437 -0.202898  0.327163
B -1.081210  0.208696  0.649539 -1.350474
C -1.633450  0.262663 -1.367750  0.284982
D -1.960716 -0.097805 -1.367424 -0.899680
E  1.235248 -0.135664 -0.405546  0.155646

In [10]:
print(df['Y'])

A   -0.202898
B    0.649539
C   -1.367750
D   -1.367424
E   -0.405546
Name: Y, dtype: float64

In [11]:
print(df[['Y','Z']])

          Y         Z
A -0.202898  0.327163
B  0.649539 -1.350474
C -1.367750  0.284982
D -1.367424 -0.899680
E -0.405546  0.155646

In [12]:
type(df['Y'])

pandas.core.series.Series

In [13]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df['S'] = df['W'] + df['X']

In [16]:
print(df)

          W         X         Y         Z         S
A -1.560803  0.230437 -0.202898  0.327163 -1.330365
B -1.081210  0.208696  0.649539 -1.350474 -0.872514
C -1.633450  0.262663 -1.367750  0.284982 -1.370787
D -1.960716 -0.097805 -1.367424 -0.899680 -2.058521
E  1.235248 -0.135664 -0.405546  0.155646  1.099585

In [17]:
df['T'] = [1,2,3,4,5]

In [18]:
print(df)

          W         X         Y         Z         S  T
A -1.560803  0.230437 -0.202898  0.327163 -1.330365  1
B -1.081210  0.208696  0.649539 -1.350474 -0.872514  2
C -1.633450  0.262663 -1.367750  0.284982 -1.370787  3
D -1.960716 -0.097805 -1.367424 -0.899680 -2.058521  4
E  1.235248 -0.135664 -0.405546  0.155646  1.099585  5

In [19]:
del df['T']

In [20]:
print(df)

          W         X         Y         Z         S
A -1.560803  0.230437 -0.202898  0.327163 -1.330365
B -1.081210  0.208696  0.649539 -1.350474 -0.872514
C -1.633450  0.262663 -1.367750  0.284982 -1.370787
D -1.960716 -0.097805 -1.367424 -0.899680 -2.058521
E  1.235248 -0.135664 -0.405546  0.155646  1.099585

In [21]:
df.drop('S', axis= 1)

          W         X         Y         Z
A -1.560803  0.230437 -0.202898  0.327163
B -1.081210  0.208696  0.649539 -1.350474
C -1.633450  0.262663 -1.367750  0.284982
D -1.960716 -0.097805 -1.367424 -0.899680
E  1.235248 -0.135664 -0.405546  0.155646

In [22]:
print(df)

          W         X         Y         Z         S
A -1.560803  0.230437 -0.202898  0.327163 -1.330365
B -1.081210  0.208696  0.649539 -1.350474 -0.872514
C -1.633450  0.262663 -1.367750  0.284982 -1.370787
D -1.960716 -0.097805 -1.367424 -0.899680 -2.058521
E  1.235248 -0.135664 -0.405546  0.155646  1.099585

In [23]:
df.drop('S', axis= 1, inplace=True)

In [24]:
print(df)

          W         X         Y         Z
A -1.560803  0.230437 -0.202898  0.327163
B -1.081210  0.208696  0.649539 -1.350474
C -1.633450  0.262663 -1.367750  0.284982
D -1.960716 -0.097805 -1.367424 -0.899680
E  1.235248 -0.135664 -0.405546  0.155646

In [25]:
print(df.loc['E'])

W    1.235248
X   -0.135664
Y   -0.405546
Z    0.155646
Name: E, dtype: float64

In [26]:
print(df.iloc[4])

W    1.235248
X   -0.135664
Y   -0.405546
Z    0.155646
Name: E, dtype: float64

In [27]:
df.loc['F'] = [1,2,3,4]

In [28]:
print(df)

          W         X         Y         Z
A -1.560803  0.230437 -0.202898  0.327163
B -1.081210  0.208696  0.649539 -1.350474
C -1.633450  0.262663 -1.367750  0.284982
D -1.960716 -0.097805 -1.367424 -0.899680
E  1.235248 -0.135664 -0.405546  0.155646
F  1.000000  2.000000  3.000000  4.000000

In [33]:
df1 = pd.DataFrame([[5,6,7,8],[9,10,11,12]],columns=['W','X','Y','Z'])

In [34]:
df1

   W   X   Y   Z
0  5   6   7   8
1  9  10  11  12

In [40]:
df2 = df.append(df1, ignore_index=True)

In [41]:
df

          W         X         Y         Z
A -1.560803  0.230437 -0.202898  0.327163
B -1.081210  0.208696  0.649539 -1.350474
C -1.633450  0.262663 -1.367750  0.284982
D -1.960716 -0.097805 -1.367424 -0.899680
E  1.235248 -0.135664 -0.405546  0.155646
F  1.000000  2.000000  3.000000  4.000000

In [42]:
df2

          W          X          Y          Z
0 -1.560803   0.230437  -0.202898   0.327163
1 -1.081210   0.208696   0.649539  -1.350474
2 -1.633450   0.262663  -1.367750   0.284982
3 -1.960716  -0.097805  -1.367424  -0.899680
4  1.235248  -0.135664  -0.405546   0.155646
5  1.000000   2.000000   3.000000   4.000000
6  5.000000   6.000000   7.000000   8.000000
7  9.000000  10.000000  11.000000  12.000000

In [44]:
df.shape

(6, 4)

In [45]:
df.drop('F', axis=0, inplace= True)

In [46]:
print(df)

          W         X         Y         Z
A -1.560803  0.230437 -0.202898  0.327163
B -1.081210  0.208696  0.649539 -1.350474
C -1.633450  0.262663 -1.367750  0.284982
D -1.960716 -0.097805 -1.367424 -0.899680
E  1.235248 -0.135664 -0.405546  0.155646

In [51]:
print(df.loc['A','Y'])

-0.20289846684106513

In [52]:
print(df['Y'].loc['A'])

-0.20289846684106513

In [54]:
print(df.loc['A']['Y'])

-0.20289846684106513

In [56]:
print(df.loc[['A','B'],['Y','Z']])

          Y         Z
A -0.202898  0.327163
B  0.649539 -1.350474

In [57]:
print(df)

          W         X         Y         Z
A -1.560803  0.230437 -0.202898  0.327163
B -1.081210  0.208696  0.649539 -1.350474
C -1.633450  0.262663 -1.367750  0.284982
D -1.960716 -0.097805 -1.367424 -0.899680
E  1.235248 -0.135664 -0.405546  0.155646

In [59]:
bool_df = df > 0

In [60]:
bool_df

       W      X      Y      Z
A  False   True  False   True
B  False   True   True  False
C  False   True  False   True
D  False  False  False  False
E   True  False  False   True

In [61]:
df[bool_df]

          W         X         Y         Z
A       NaN  0.230437       NaN  0.327163
B       NaN  0.208696  0.649539       NaN
C       NaN  0.262663       NaN  0.284982
D       NaN       NaN       NaN       NaN
E  1.235248       NaN       NaN  0.155646

In [62]:
df[df>0]

          W         X         Y         Z
A       NaN  0.230437       NaN  0.327163
B       NaN  0.208696  0.649539       NaN
C       NaN  0.262663       NaN  0.284982
D       NaN       NaN       NaN       NaN
E  1.235248       NaN       NaN  0.155646

In [66]:
df['Y'] > 0

A    False
B     True
C    False
D    False
E    False
Name: Y, dtype: bool

In [64]:
df[df['Y']>0]

         W         X         Y         Z
B -1.08121  0.208696  0.649539 -1.350474

In [65]:
df['Y'][df['Y']>0]

B    0.649539
Name: Y, dtype: float64

In [67]:
result = df[df['X']>0]

In [68]:
result

          W         X         Y         Z
A -1.560803  0.230437 -0.202898  0.327163
B -1.081210  0.208696  0.649539 -1.350474
C -1.633450  0.262663 -1.367750  0.284982

In [70]:
result[result['Z'] > 0 ]

          W         X         Y         Z
A -1.560803  0.230437 -0.202898  0.327163
C -1.633450  0.262663 -1.367750  0.284982

In [73]:
result[result['Z'] > 0][['X','Y']]

          X         Y
A  0.230437 -0.202898
C  0.262663 -1.367750

In [74]:
(df['X'] > 0) & (df['Z']>0)

A     True
B    False
C     True
D    False
E    False
dtype: bool

In [75]:
print(df)

          W         X         Y         Z
A -1.560803  0.230437 -0.202898  0.327163
B -1.081210  0.208696  0.649539 -1.350474
C -1.633450  0.262663 -1.367750  0.284982
D -1.960716 -0.097805 -1.367424 -0.899680
E  1.235248 -0.135664 -0.405546  0.155646

In [76]:
df[(df['X'] > 0) & (df['Z']>0)]

          W         X         Y         Z
A -1.560803  0.230437 -0.202898  0.327163
C -1.633450  0.262663 -1.367750  0.284982

In [78]:
df[(df['X'] > 0) & (df['Z']>0)][['X','Z']]

          X         Z
A  0.230437  0.327163
C  0.262663  0.284982

In [79]:
df[['X','Z']][(df['X'] > 0) & (df['Z']>0)]

          X         Z
A  0.230437  0.327163
C  0.262663  0.284982

In [82]:
df

          W         X         Y         Z
A -1.560803  0.230437 -0.202898  0.327163
B -1.081210  0.208696  0.649539 -1.350474
C -1.633450  0.262663 -1.367750  0.284982
D -1.960716 -0.097805 -1.367424 -0.899680
E  1.235248 -0.135664 -0.405546  0.155646

In [80]:
df.reset_index()

  index         W         X         Y         Z
0     A -1.560803  0.230437 -0.202898  0.327163
1     B -1.081210  0.208696  0.649539 -1.350474
2     C -1.633450  0.262663 -1.367750  0.284982
3     D -1.960716 -0.097805 -1.367424 -0.899680
4     E  1.235248 -0.135664 -0.405546  0.155646

In [86]:
df['States'] = ['IL', 'CA', 'TX', 'OH', 'FL']

In [87]:
df

          W         X         Y         Z States
A -1.560803  0.230437 -0.202898  0.327163     IL
B -1.081210  0.208696  0.649539 -1.350474     CA
C -1.633450  0.262663 -1.367750  0.284982     TX
D -1.960716 -0.097805 -1.367424 -0.899680     OH
E  1.235248 -0.135664 -0.405546  0.155646     FL

In [93]:
df2 = df.set_index('States')

In [94]:
print(df2)

               W         X         Y         Z
States
IL     -1.560803  0.230437 -0.202898  0.327163
CA     -1.081210  0.208696  0.649539 -1.350474
TX     -1.633450  0.262663 -1.367750  0.284982
OH     -1.960716 -0.097805 -1.367424 -0.899680
FL      1.235248 -0.135664 -0.405546  0.155646

In [95]:
df2.loc['FL']

W    1.235248
X   -0.135664
Y   -0.405546
Z    0.155646
Name: FL, dtype: float64