In [2]:
x = 2

In [3]:
type(x)

int

## this is our first day

In [3]:
# Hi

In [4]:
y=3

In [5]:
z=x+y

In [6]:
z=5

In [7]:
y= x+z

In [8]:
a = z*2

In [9]:
a

10

In [10]:
print(a)

10

In [12]:
string1 = "Hello"

In [13]:
string1[0] = 's'

TypeError: 'str' object does not support item assignment

In [31]:
keerthi = [1,2,3.4,'Hi',[3,4,5]]

In [32]:
keerthi[0]=5

In [33]:
keerthi

[5, 2, 3.4, 'Hi', [3, 4, 5]]

In [22]:
mylist[1:]

[2, 3.4, 'Hi', [3, 4, 5]]

In [23]:
mylist[4][1]

4

In [24]:
x = 1

In [25]:
y = str(x)

In [26]:
y

'1'

In [27]:
z = float(x)

In [28]:
z

1.0

In [29]:
a = 'Hi'

In [30]:
b = int(a)

ValueError: invalid literal for int() with base 10: 'Hi'

In [34]:
keerthi

[5, 2, 3.4, 'Hi', [3, 4, 5]]

In [35]:
age = 28

In [36]:
print("My age is" + age)

TypeError: can only concatenate str (not "int") to str

In [37]:
type(age)

int

In [38]:
print("My age is" + str(age))

My age is28

In [39]:
print("My age is",age)

My age is 28

In [40]:
print(f"my age is {age}")

my age is 28

In [42]:
mylist = [1,2,3]

In [43]:
sum(mylist)

6

In [44]:
sum